.searchBar {
  border-radius: 25px !important;
  margin: 24px 0 32px;
  padding-left: 16px;

  .searchInput {
    border: none;
    outline: none;
    width: 350px;
    background: transparent;
    color: #fff;
    font-size: 1rem;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 0.6; /* Firefox */
    }
  }

  .searchBtn {
    transition: 0.2s !important;

    &:hover {
      background-color: rgba(0, 137, 235, 0.04) !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .searchBar {
    width: 200px;
  }
}
