.loginSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginPaper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .loginLogo {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      user-select: none;

      .logoName {
        font-size: 1.5rem;
      }
    }

    .loginForm {
      display: flex;
      flex-direction: column;
      align-items: center;

      .inputStuck {
        width: 100%;
        margin-bottom: 20px;

        .loginInput {
          width: 100%;
          border-radius: 20px;
          border: 1px solid #cecece;
          outline: none;
          background: #fff;
          color: #474747;
          font-size: 1rem;
          padding: 10px;
          margin-bottom: 10px;
        }
      }

      .error {
        margin: 3px 0;
        color: #fd5757;
        user-select: none;
        font-size: 0.8rem;
        hyphens: auto;
      }

      .redirectText {
        margin: 25px 0 0;
      }

      .redirectUrl:hover {
        text-decoration: underline;
      }

      .btn button {
        margin: 0 auto;
      }
    }

    .copyright {
      width: 100%;
      color: #999999;
      margin: 30px auto 0;
      user-select: none;
    }
  }
}
