.videoListItem {
  width: 800px;
  height: 120px;
  border-radius: 18px;
  position: relative;
  transition: 0.3s;

  .mainLink,
  .channelLink,
  .deleteButton {
    position: absolute;
  }

  .mainLink {
    padding: 16px;
    display: inline-flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .videoThumbnail {
      width: 20%;
      display: flex;
      overflow: hidden;
      border-radius: 12px;
      aspect-ratio: 16/9;
      justify-content: center;
      background-size: cover;
      background-position: center;

      .blur {
        display: flex;
        justify-content: center;
        backdrop-filter: blur(5px);
        width: 100%;
      }
    }

    .videoInfo {
      width: 80%;
      padding-left: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .videoInfoTitle {
        .title {
          font-size: 1.4rem;
        }
      }

      .videoInfoView {
        .viewCount {
          opacity: 0.6;
          user-select: none;
        }
      }
    }
  }

  .channelLink {
    top: 60px;
    left: 192px;
    display: block;
    width: fit-content;

    .channelName {
      display: flex;
      align-items: center;
      opacity: 0.6;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .deleteLink {
    display: none;

    .deleteButton {
      top: 16px;
      right: 16px;
      color: #0089eb;

      &:hover {
        background-color: rgba(25, 118, 210, 0.25);
      }
    }
  }

  &:hover {
    background-color: #464646;

    .deleteLink {
      display: inline-flex;
    }
  }
}
