.videoListItem {
  width: 800px;
  height: 149px;
  border-radius: 18px;
  position: relative;
  transition: 0.3s;

  .mainLink,
  .channelLink,
  .deleteButton {
    position: absolute;
  }

  .mainLink {
    padding: 16px;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .videoThumbWrapper {
      width: 27%;
      position: relative;

      .videoThumbnail {
        user-select: none;
        display: flex;
        overflow: hidden;
        border-radius: 12px;
        aspect-ratio: 16/9;
        justify-content: center;
        background-size: cover;
        background-position: center;

        .blur {
          display: flex;
          justify-content: center;
          backdrop-filter: blur(5px);
          width: 100%;
        }
      }

      .duration {
        p {
          user-select: none;
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 0.85rem;
          padding: 3px 7px;
          border-radius: 11px 0;
          background-color: rgba(31, 31, 31, 0.8);
        }
      }
    }

    .videoInfo {
      padding-left: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .videoInfoTitle {
        .title {
          font-size: 1.4rem;
        }
      }

      .videoInfoView {
        .viewCount {
          opacity: 0.6;
          user-select: none;
        }
      }
    }
  }

  .channelLink {
    top: 60px;
    left: 246px;
    display: block;
    width: fit-content;

    .channelName {
      display: flex;
      align-items: center;
      opacity: 0.6;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .deleteLink {
    display: none;

    .deleteButton {
      top: 16px;
      right: 16px;
      color: #0089eb;

      &:hover {
        background-color: rgba(25, 118, 210, 0.25);
      }
    }
  }

  &:hover {
    background-color: #464646;

    .deleteLink {
      display: inline-flex;
    }
  }
}
