.comment {
  display: flex;
  justify-content: flex-start;

  &_answer {
    background: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
    margin: 0 30px 0 0;
    width: 100%;

    & input {
      align-self: center;
      justify-content: center;
    }
  }
  &_inputField {
    font-size: 1rem;
    width: 100%;
    outline: none;
    color: white;
    margin: 0 0 10px 20px;
    border: 0;
    background: transparent;
    height: 48px;

    &:focus {
      border-bottom: 2px solid steelblue;
    }
    &::placeholder {
      color: white;
    }
  }

  &_btn {
    display: flex;
    width: 90%;
    justify-content: flex-start;
  }
}

.avatar {
  flex-direction: row;
  align-items: center;
  margin: 0 15px 0 0;
}

.truncateText {
  color: #fff;
  opacity: 0.85;
  margin: 0 0 15px 0;
}
