.videoCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 285px;
  border-radius: 18px;
  position: relative;
  transition: 0.3s;
  margin: 8px 0;

  .videoLink,
  .channelLink {
    position: absolute;
  }

  .videoLink {
    display: inline-block;
    padding: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .videoThumbnail {
      display: flex;
      overflow: hidden;
      border-radius: 12px;
      aspect-ratio: 16/9;
      justify-content: center;
      background-size: cover;
      background-position: center;

      .blur {
        display: flex;
        justify-content: center;
        backdrop-filter: blur(5px);
        width: 100%;
      }
    }

    .videoInfo {
      height: 39%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 8px;

      .videoInfoTitle {
        .title {
          font-size: 1.2rem;
          line-height: 1.1;
          margin-bottom: 5px;
          overflow: hidden;
          height: 43px;
        }
      }

      .videoInfoView {
        .viewCount {
          opacity: 0.6;
          user-select: none;
        }
      }
    }
  }

  .channelLink {
    bottom: 35px;
    left: 15px;
    display: block;
    width: fit-content;

    .channelName {
      display: flex;
      align-items: center;
      opacity: 0.6;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    background-color: #464646;
  }
}
