.searchInput {
  border: none;
  outline: none;
  width: 350px;
  background: transparent;
  color: #fff;
  font-size: 1rem;
}

.searchBtn {
  transition: 0.2s !important;

  &:hover {
<<<<<<< HEAD
    background-color: rgba(252, 21, 3, 0.04) !important;
    color: #0089EB !important;
=======
    background-color: rgba(0, 137, 235, 0.04) !important;
>>>>>>> 0c085dda2cd3537101afa8ddb8795702b5d8ef9a
  }
}

@media screen and (max-width: 600px) {
  .searchBar {
    width: 200px;
  }
}
