.login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .login-logo {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      user-select: none;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-stuck {
        margin-bottom: 20px;

        .login-input {
          border-radius: 20px;
          border: 1px solid #cecece;
          outline: none;
          background: #fff;
          color: #474747;
          font-size: 1rem;
          padding: 10px;
          margin-bottom: 10px;
        }
      }

      .redirect {
        margin: 40px auto 0;

        span:hover {
          text-decoration: underline;
        }
      }
    }

    .copyright {
      color: #999999;
      margin: 30px auto 0;
      user-select: none;
    }
  }
}
