.wrapper {
  max-width: 1540px;
  padding: 0 10px;
  margin: 90px auto 0;
}

.stack {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 400px;
  justify-content: center;
}

.playerWrapper {
}

.reactPlayer {
  width: auto !important;
  height: min-content !important;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.channel {
  &_info {
    display: flex;
    align-items: center;
  }
  &_sub {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.channelSub {

}

.commentSection {
  padding: 1.25rem;
  margin: 1rem 0 0 0;
  flex-direction: column;
  //height: 1000px;
  width: 100%;
}

.userCommentary {
  display: flex;
  margin: 0 0 20px 0;
}

.commentaryInput {
  font-size: 1rem;
  width: 30vw;
  outline: none;
  color: white;
  margin: 0 0 0 20px;
  border: 0;
  background: transparent;
  &:focus {
    border-bottom: 2px solid steelblue;
  }
  &::placeholder {
    color: white;
  }
}

.comment {
  display: flex;
  justify-content: flex-start;
}

.truncateText {
  color: #fff;
  opacity: 0.8;
}
